:root{
    --vermelho: #CE2B37;
    --verde: #009246;
    --preto: #545454;
    --bege: #D9CAA4;
}

*{
    margin: 0;
    padding: 0;
}


#titulo{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--vermelho);
    margin-left: 7%;
}

#subtitulo{
    font-family: Arial, Helvetica, sans-serif;
    color: #CE2B37;
    margin-left: 10%;
}

#check{
    display: inline-block;
    color: #009246;
}

fieldset{
    border: 0;
}

body{
    background-color: var(--bege);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #009246;
    border-radius: 5px;
}

.grupo:before, .grupo:after{
    display: table;
}

.grupo:after{
    clear: both;
}

.campo{
    margin-bottom: 1rem;
}

.campo label{
    margin-bottom: 0.2em;
    color: #009246;
    display: block;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid var(--vermelho);
    box-shadow: 2px 2px 2px var(--bege);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background-color: white;
}

.botao{
    font-size: 1.2em;
    background-color: #CE2B37;
    border: 0;
    margin-bottom: 1em;
    color: white;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px var(--bege);
    text-shadow: 1px 1px 1px var(--bege);
    position: absolute;
    top: 97%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao:hover{
    background-color: #CE2B37;
    box-shadow: inset 2px 2px 2px var(--bege);
    text-shadow: none;
}

.botao, select{
    cursor: pointer;
}
